.single-course {
  border: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.fa-star{
  color: yellowgreen;
}

.edit-btn {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 27px;
  margin-top: 5px;
  margin-right: 4px;
}

.delete-btn {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  color: red;
}

.fa-pencil-square-o {
  color: deepskyblue;
}


