<div class="card single-course" style="width: 24rem;">
  <a [href]="'courses/add-course/' + course.id">
    <i class="fa fa-pencil-square-o edit-btn" aria-hidden="true"></i>
  </a>
  <a (click)="onDeleteClick()">
    <i class="fa fa-trash-o delete-btn mt-1" aria-hidden="true"></i>
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ course.title }}</h5>
    <p class="card-text">{{ course.description }}</p>
    <a *ngFor="let number of [1,2,3,4,5]">
    <span *ngIf="isLoggedIn"
          (click)="onRateClick(number)"
    ><i [class]="rating < number ? 'fa fa-star-o' : 'fa fa-star'" class="" aria-hidden="true"></i></span>
    </a>
  </div>
</div>
