<div class="login-holder">
  <div class="container">
    <div class="form-holder">
      <h3>Login</h3>
      <form [formGroup]="loginForm" [class.]="{'submitted':isWrong}" (ngSubmit)="login(usernameField, passwordField)">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Username</label>
              <input type="text"
                     class="form-control"
                     #usernameField
                     required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password"
                     class="form-control"
                     #passwordField
                     required>
            </div>
          </div>
        </div>
        <div class="row buttonsRow">
          <div class="col-12">

            <a href="/auth/register">
              <button class="btn btn-primary mr-5" type="button">Register</button>
            </a>

            <button type="submit" class="btn btn-primary  " (click)="isWrong = true">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
