.login-holder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-holder {
  width: 400px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  margin: auto;
}

.submitted .ng-invalid {
  border-color: red;
}

h3 {
  text-align: center;
}

.buttonsRow {
  text-align: center;
}

