<div class="border p-3 mt-4 rounded">
  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div class="row">
      <div class="offset-2 col-8">
        <div class="form-group">
          <label>Username</label>
          <input class="form-control"
                 name="username"
                 formControlName="username">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-8">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="name"
                 formControlName="name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-8">
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" name="password"
                 formControlName="password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 pl-4">
        <div class="form-group">
          <input class="form-check-input" name="isAdmin"
                 formControlName="isAdmin" type="checkbox">
          <label class="form-check-label mr-5">Is Admin</label>
          <input class="form-check-input" name="isBlocked"
                 formControlName="isBlocked" type="checkbox">
          <label class="form-check-label">Is Blocked</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-8 text-right">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!isFormValid"
        >Save user
        </button>
      </div>
    </div>
  </form>
</div>
