.login-holder {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-holder {
  width: 400px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: auto;
}

.makeItLeft {
  text-align: left;
}

.buttonAllignCenter {
  text-align: center;
}
