<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">Course Academy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/courses/list">Courses</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn && isAdmin">
        <a class="nav-link" routerLink="/users/list">Users</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
