<div class="course-holder">
  <div class="row justify-content-end" *ngIf="isAdmin">
    <a href="courses/add-course">
      <button class="btn btn-primary mr-3 mt-3 mb-sm-0">Add course</button>
    </a>
  </div>
  <div class="row">
    <div class="course-card col-6 mt-3 mb-3" *ngFor="let currentCourse of courses;">
      <app-course-card [course]="currentCourse" (onDelete)="onCourseDeleted($event)"></app-course-card>
    </div>
  </div>
</div>
