<div class="row justify-content-end" *ngIf="currentUser.isAdmin">
  <a href="/users/add" class="mr-3">
    <button class="btn btn-primary mt-2 mb-2">Add new user</button>
  </a>
</div>
<div class="row">
  <div class="col-12">

    <table class="table border">
      <thead>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Is Admin</th>
      <th scope="col">Is Blocked</th>
      <th scope="col">Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let user of users;">
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ (user.isAdmin || false) ? 'Yes' : 'No' }}</td>
        <td>{{ (user.isBlocked || false) ? 'Yes' : 'No' }}</td>
        <td>
          <div role="group">
            <a [href]="'users/add/' + user.id"><i class="fa fa-2x fa-pencil-square-o mr-3" aria-hidden="true"></i></a>
            <a (click)="onItemDeleted(user.id)"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
