<div class="course-form-holder mt-3 border rounded p-3">
  <form [formGroup]="courseForm" (ngSubmit)="onFormSubmit($event)">
    <div class="row">
      <div class="offset-2 col-6">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control"
                 name="title"
                 formControlName="title">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-6">
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" name="description"
                 formControlName="description">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-6 text-right">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!isFormValid"
        >Save course
        </button>
      </div>
    </div>
  </form>
</div>
